extend index

block pageindex
 section.map-back
  img(src="images/slider/img2.jpg" alt="")
  div(class="container") 
   h1.title faq
   ul.maplink
     li #[a(href="index.html") home]
     li faq
 section.faqs
  div.container
   div(id="accordionExample" class="accordion") 
       div.option
        div(id="headingOne" class="click-title")
         a(href="#" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne" class="d-block position-relative collapsible-link")  What contracts are available for cleaners?
        div(id="collapseOne" aria-labelledby="headingOne" data-parent="#accordionExample" class="collapse show")
          p.text    Integrated facilities was established to manage, operate, and maintain government facilities, companies, and private and public establishments. It began in 1976 with more than 45 years of experience, not only providing cleaning and environmental care services, but also including all utility services to achieve the partners’ goals through a trained team under the management and supervision of experts applying proven methodologies and the latest innovative technologies. To provide the best comprehensive solutions and services
       div.option
        div(id="headingTwo" class="click-title")
         a(href="#" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo" class="d-block position-relative collapsible-link")   I have a shop. Do you provide a cleaner?
        div(id="collapseTwo" aria-labelledby="headingTwo" data-parent="#accordionExample" class="collapse")
          p.text    Integrated facilities was established to manage, operate, and maintain government facilities, companies, and private and public establishments. It began in 1976 with more than 45 years of experience, not only providing cleaning and environmental care services, but also including all utility services to achieve the partners’ goals through a trained team under the management and supervision of experts applying proven methodologies and the latest innovative technologies. To provide the best comprehensive solutions and services
    
       div.option
        div(id="headingThree" class="click-title")
         a(href="#" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree" class="d-block position-relative collapsible-link") Do the contracts include the worker’s housing or without housing?
        div(id="collapseThree" aria-labelledby="headingThree" data-parent="#accordionExample" class="collapse")
          p.text    Integrated facilities was established to manage, operate, and maintain government facilities, companies, and private and public establishments. It began in 1976 with more than 45 years of experience, not only providing cleaning and environmental care services, but also including all utility services to achieve the partners’ goals through a trained team under the management and supervision of experts applying proven methodologies and the latest innovative technologies. To provide the best comprehensive solutions and services

       div.option
        div(id="headingFor" class="click-title")
         a(href="#" data-toggle="collapse" data-target="#collapseFor" aria-expanded="false" aria-controls="collapseFor" class="d-block position-relative collapsible-link")  I have a farm. Do you provide workers?
        div(id="collapseFor" aria-labelledby="headingFor" data-parent="#accordionExample" class="collapse")
          p.text    Integrated facilities was established to manage, operate, and maintain government facilities, companies, and private and public establishments. It began in 1976 with more than 45 years of experience, not only providing cleaning and environmental care services, but also including all utility services to achieve the partners’ goals through a trained team under the management and supervision of experts applying proven methodologies and the latest innovative technologies. To provide the best comprehensive solutions and services