doctype
html(lang='en')
  head
    meta(charset='utf-8')
    meta(name='description' content='Lorem PugJs')
    meta(name='viewport' content='width=device-width, initial-scale=1,shrink-to-fit=no')
    meta(name="keywords" content="")
    title Integrated Facility 
    
    include ../includes/styles.pug 
    include ../includes/scripts.pug 
  body
    block pagemap
      include ../pugjs/header.pug
      <!--End Header-->
      block pageindex
       include ../pugjs/slider.pug
       <!--End Slider-->  
       include ../pugjs/minabout.pug
       <!--End minabout--> 
       include ../pugjs/minservices.pug
       <!--End minservices-->
       include ../pugjs/numbers.pug
       <!--End numbers-->
       include ../pugjs/minnews.pug
       <!--End minnews-->
       include ../pugjs/provide.pug
       <!--End provide-->
       include ../pugjs/minclients.pug
       <!--End minclients-->              
      include ../pugjs/footer.pug
      <!--End Footer-->
