section.about
  div.container
   div.row
    div(class="col-sm-6 item") 
     div.tp-about
      div(class="tp-about-3")
       img(src="images/shape-2-2.jpg" alt="") 
      div(class="tp-about-4")
       img(src="images/shape-2-3.jpg" alt="") 
      div(class="tp-about-2-thumb-text") 
        div.num
         h3(class="timer" data-to="12" data-speed="1500") 
         span +
        p Years of experience
    div(class="col-sm-6 item") 
     div.w-100
      span.tag About company
      h1.title Twelve Years Of Providing
      p    Integrated Facilities was established to effectively manage, operate, and maintain government, corporate, and public facilities. With a foundation dating back to 1976, we bring nearly 50 years of experience in delivering comprehensive facility management solutions. Our trained team, guided by industry experts, employs proven methodologies and the latest innovative technologies to optimize operations, enhance sustainability, and drive efficiency. We are dedicated to providing tailored solutions that align with our partners’ strategic goals and contribute to their overall success.
      a(href="aboutus.html" class="bottom") #[span Read more]