section.clients
 div.container
   span.tag.text-center.mb-2 Clients
   h2.title.text-center   Our latest clients
   div.row
    div.col-sm-3.item
     a(href="#")
      img(src='images/logo1.png' alt="")
    div.col-sm-3.item
     a(href="#")
      img(src='images/logo2.png' alt="")   
    div.col-sm-3.item
     a(href="#")
      img(src='images/logo3.png' alt="")    
    div.col-sm-3.item
     a(href="#")
      img(src='images/logo4.png' alt="")
    div.col-sm-3.item
     a(href="#")
      img(src='images/logo5.png' alt="")
    div.col-sm-3.item
     a(href="#")
      img(src='images/logo6.png' alt="")
    div.col-sm-3.item
     a(href="#")
      img(src='images/logo7.png' alt="")
    div.col-sm-3.item
     a(href="#")
      img(src='images/logo8.png' alt="")
<!-- End clients-->