section.news
  div.container
   span.tag.text-center.mb-2 Our news
   h2(class="title text-center")  Latest news & articles <br> from the blog
   div.row
    div(class="col-sm-4 item") 
     a(href="news-inner.html" class="inner")
      div.photo
       img(src="images/n-1.jpg" alt="") 
      div.textcontent
       span.tag 2023-12-04
       h3.title The Contracting Group honored 4 security employees working in Tatweer
    div(class="col-sm-4 item") 
     a(href="news-inner.html" class="inner")
      div.photo
       img(src="images/n-2.jpg" alt="") 
      div.textcontent
       span.tag 2023-12-04
       h3.title TCongratulations to its employee Hussein Ali Marhoon, from Almoayyed Landscapes, on achieving a number of achievements
    div(class="col-sm-4 item") 
     a(href="news-inner.html" class="inner")
      div.photo
       img(src="images/shape-2-3.jpg" alt="") 
      div.textcontent
       span.tag 2023-12-04
       h3.title The company won the Distinguished Services Award in the Kingdom of Saudi Arabia
   div.text-center.mt-5
     a(href="news.html" class="bottom") #[span Read more]