section.minservices
 div.container
  span.tag.text-center.mb-2 Check out our services
  h2(class="title text-center") Integrated Facility 
  div(class="slider-services")
   div(class="latesitem")
    div.photo
     svg(version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 284.999 284.999" xml:space="preserve") 
      path(d="M111.959,76.307c-2.351-2.041-5.856-2.041-8.207,0l-74.163,63.995c-1.379,1.188-2.171,2.932-2.171,4.756v92.508 c0,3.47,2.814,6.284,6.284,6.284h148.319c3.47,0,6.29-2.814,6.29-6.284v-92.508c0-1.824-0.798-3.568-2.177-4.756L111.959,76.307z M107.853,89.369l67.879,58.571v31.054H39.985V147.94L107.853,89.369z M65.479,215.108v-22.983c0-3.476,2.809-6.284,6.29-6.284 h22.965c3.476,0,6.284,2.809,6.284,6.284v22.983c0,3.47-2.809,6.283-6.284,6.283H71.77 C68.288,221.392,65.479,218.578,65.479,215.108z M114.699,215.108v-22.983c0-3.476,2.808-6.284,6.284-6.284h22.964 c3.482,0,6.284,2.809,6.284,6.284v22.983c0,3.47-2.802,6.283-6.284,6.283h-22.964 C117.507,221.392,114.699,218.578,114.699,215.108z") 
      path(d="M114.007,43.422c-3.538-3.031-8.771-3.031-12.296,0L3.284,128.05c-3.952,3.389-4.397,9.352-1.008,13.291 c1.868,2.177,4.509,3.29,7.162,3.29c2.171,0,4.366-0.754,6.136-2.282l92.278-79.346l92.297,79.346 c3.952,3.408,9.902,2.957,13.291-1.008c3.396-3.939,2.951-9.902-1.002-13.291L114.007,43.422z") 
      path(d="M71.77,172.16h22.965c3.476,0,6.284-2.82,6.284-6.29v-22.983c0-3.47-2.809-6.283-6.284-6.283H71.77 c-3.481,0-6.29,2.813-6.29,6.283v22.983C65.479,169.34,68.288,172.16,71.77,172.16z") 
      path(d="M120.983,172.16h22.964c3.482,0,6.284-2.82,6.284-6.29v-22.983c0-3.47-2.802-6.283-6.284-6.283h-22.964 c-3.477,0-6.284,2.813-6.284,6.283v22.983C114.699,169.34,117.507,172.16,120.983,172.16z") 
      path(d="M282.081,83.79l-30.442-36.546c-4.774-5.74-14.534-5.74-19.31,0L201.875,83.79c-4.446,5.325-3.724,13.255,1.614,17.701 c5.332,4.447,13.261,3.724,17.701-1.607l8.227-9.878v141.27c0,6.939,5.621,12.574,12.561,12.574c6.946,0,12.58-5.635,12.58-12.574 V90.006l8.221,9.878c2.486,2.987,6.055,4.521,9.666,4.521c2.827,0,5.685-0.958,8.041-2.913 C285.811,97.045,286.528,89.115,282.081,83.79z")
    h3.title Integrated facilities management services
    p Comprehensive management of all services, including management, operation, maintenance, cleaning, security, guarding and protection
    a(href="services-inner.html" class="more") Read More 
   div(class="latesitem")
    div.photo
     svg(version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 502.697 502.697" xml:space="preserve") 
      path(d="M439.109,0H111.341C81.983,0,57.953,24.008,57.953,53.388v327.768 c0,7.42,1.553,14.496,4.314,20.924l-42.559,42.343l0.216,0.237c-13.007,13.439-13.007,34.815,0.259,47.995 c13.18,13.309,34.621,13.352,48.081,0.345l0.173,0.237l58.996-58.694h311.655c29.336,0,53.409-24.008,53.409-53.409V53.388 C492.496,24.008,468.445,0,439.109,0z M54.286,480.058c-5.867,5.867-15.445,5.889-21.42-0.065c-5.889-5.889-5.91-15.531,0-21.42 c5.91-5.867,15.488-5.91,21.398-0.022C60.175,464.484,60.175,474.083,54.286,480.058z M444.394,387.627H174.586l93.639-93.143 l94.027-0.28l25.734-96.141l-10.225-10.246l-51.015,51.123l-49.936-49.872l51.058-51.101l-10.203-10.268l-96.055,25.82 l-0.324,91.417l-0.518-0.582L102.432,362.109V99.01h341.983L444.394,387.627L444.394,387.627z")
    h3.title Operation and maintenance services
    p  We operate and maintain facilities, including electricity, energy, electronic supplies, medical devices, facility management, and floor maintenance
    a(href="services-inner.html" class="more") Read More 
   div(class="latesitem")
    div.photo
     svg(version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 470 470" xml:space="preserve") 
      path(d="M164,287.167c-90.43,0-164,73.57-164,164v15h328v-15C328,360.737,254.43,287.167,164,287.167z M210.09,325.336v110.831 H107.929V329.477c17.068-7.896,36.062-12.311,56.071-12.311C180.187,317.167,195.713,320.053,210.09,325.336z M77.929,348.55 v87.617H30.834C34.755,401.118,52.255,370.119,77.929,348.55z M240.09,436.167v-95.241c31.079,21.517,52.666,55.819,57.076,95.241 H240.09z") 
      path(d="M51.333,229.226c12.368,0,23.585-5.018,31.728-13.122c17.572,25.963,47.296,43.062,80.939,43.062 s63.367-17.099,80.939-43.062c8.142,8.104,19.359,13.122,31.728,13.122c24.813,0,45-20.187,45-45v-26.56h-0.049 C319.575,72.493,249.656,3.833,164,3.833S8.425,72.493,6.382,157.667H6.333v26.56C6.333,209.039,26.521,229.226,51.333,229.226z M164,229.167c-37.312,0-67.667-30.355-67.667-67.667S126.688,93.833,164,93.833s67.667,30.355,67.667,67.667 S201.312,229.167,164,229.167z M291.667,184.226c0,8.271-6.729,15-15,15c-8.271,0-15-6.729-15-15v-48.287h27.428 c1.685,8.261,2.572,16.809,2.572,25.561V184.226z M164,33.833c50.493,0,94.231,29.467,114.928,72.106h-34.653 C226.625,80.515,197.226,63.833,164,63.833s-62.625,16.682-80.276,42.106H49.072C69.769,63.3,113.507,33.833,164,33.833z M38.906,135.939h27.428v48.287c0,8.271-6.729,15-15,15c-8.271,0-15-6.729-15-15V161.5C36.333,152.749,37.22,144.2,38.906,135.939z ") 
      path(d="M470,348.873h-19.558l-7.721-163.784h-76.208l-7.721,163.784h-19.558v30h50.383v87.294h30v-87.294H470V348.873z M395.132,215.089h18.97l6.306,133.784h-31.583L395.132,215.089z")
    h3.title Basic facilities management services
    p   We work proficiently in projects, construction, infrastructure, building maintenance and supervision
    a(href="services-inner.html" class="more") Read More 
   div(class="latesitem")
    div.photo
     svg(viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg")
        path(fill="none" d="M0 0h24v24H0z")
        path(fill-rule="nonzero" d="M13.619 21c-.085 0-.141-.057-.127-.127V3.127c0-.056.042-.113.113-.113h2.785A4.61 4.61 0 0 1 21 7.624v8.766A4.61 4.61 0 0 1 16.39 21H13.62zm3.422-9.926c-1.004 0-1.824.82-1.824 1.824s.82 1.824 1.824 1.824 1.824-.82 1.824-1.824-.82-1.824-1.824-1.824zM5.8 8.4c0-.933.763-1.696 1.696-1.696.934 0 1.697.763 1.697 1.696 0 .934-.763 1.697-1.697 1.697A1.702 1.702 0 0 1 5.8 8.401zM11.54 3c.085 0 .142.057.128.127V20.86c0 .07-.057.127-.128.127H7.61A4.61 4.61 0 0 1 3 16.376V7.61A4.61 4.61 0 0 1 7.61 3h3.93zm-1.315 16.544V4.442H7.61c-.849 0-1.64.34-2.235.933a3.088 3.088 0 0 0-.933 2.235v8.766c0 .849.34 1.64.933 2.234a3.088 3.088 0 0 0 2.235.934h2.615z")
    h3.title BLight facilities management services
    p   Comprehensive management of all services, including management, operation, maintenance, cleaning, security, guarding and protection
    a(href="services-inner.html" class="more") Read More 
   div(class="latesitem")
    div.photo
     svg(version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 502.697 502.697" xml:space="preserve") 
      path(d="M439.109,0H111.341C81.983,0,57.953,24.008,57.953,53.388v327.768 c0,7.42,1.553,14.496,4.314,20.924l-42.559,42.343l0.216,0.237c-13.007,13.439-13.007,34.815,0.259,47.995 c13.18,13.309,34.621,13.352,48.081,0.345l0.173,0.237l58.996-58.694h311.655c29.336,0,53.409-24.008,53.409-53.409V53.388 C492.496,24.008,468.445,0,439.109,0z M54.286,480.058c-5.867,5.867-15.445,5.889-21.42-0.065c-5.889-5.889-5.91-15.531,0-21.42 c5.91-5.867,15.488-5.91,21.398-0.022C60.175,464.484,60.175,474.083,54.286,480.058z M444.394,387.627H174.586l93.639-93.143 l94.027-0.28l25.734-96.141l-10.225-10.246l-51.015,51.123l-49.936-49.872l51.058-51.101l-10.203-10.268l-96.055,25.82 l-0.324,91.417l-0.518-0.582L102.432,362.109V99.01h341.983L444.394,387.627L444.394,387.627z")
    h3.title Operation and maintenance services
    p  We operate and maintain facilities, including electricity, energy, electronic supplies, medical devices, facility management, and floor maintenance
    a(href="services-inner.html" class="more") Read More 
