extend index

block pageindex
 section.map-back
  img(src="images/slider/img1.jpg" alt="")
  div(class="container") 
   h1.title news
   ul.maplink
     li #[a(href="index.html") home]
     li news 
 section.news
  div.container
   span.tag.text-center.mb-2 Our news
   h2(class="title text-center")  Latest news & articles <br> from the blog
   div.row
    div(class="col-sm-4 item") 
     a(href="news-inner.html" class="inner")
      div.photo
       img(src="images/n-1.jpg" alt="") 
      div.textcontent
       span.tag 2023-12-04
       h3.title The Contracting Group honored 4 security employees working in Tatweer
    div(class="col-sm-4 item") 
     a(href="news-inner.html" class="inner")
      div.photo
       img(src="images/n-2.jpg" alt="") 
      div.textcontent
       span.tag 2023-12-04
       h3.title TCongratulations to its employee Hussein Ali Marhoon, from Almoayyed Landscapes, on achieving a number of achievements
    div(class="col-sm-4 item") 
     a(href="news-inner.html" class="inner")
      div.photo
       img(src="images/shape-2-3.jpg" alt="") 
      div.textcontent
       span.tag 2023-12-04
       h3.title The company won the Distinguished Services Award in the Kingdom of Saudi Arabia
    div(class="col-sm-4 item") 
     a(href="news-inner.html" class="inner")
      div.photo
       img(src="images/n-1.jpg" alt="") 
      div.textcontent
       span.tag 2023-12-04
       h3.title The Contracting Group honored 4 security employees working in Tatweer
    div(class="col-sm-4 item") 
     a(href="news-inner.html" class="inner")
      div.photo
       img(src="images/n-2.jpg" alt="") 
      div.textcontent
       span.tag 2023-12-04
       h3.title TCongratulations to its employee Hussein Ali Marhoon, from Almoayyed Landscapes, on achieving a number of achievements
    div(class="col-sm-4 item") 
     a(href="news-inner.html" class="inner")
      div.photo
       img(src="images/shape-2-3.jpg" alt="") 
      div.textcontent
       span.tag 2023-12-04
       h3.title The company won the Distinguished Services Award in the Kingdom of Saudi Arabia
   ul(class="pagination w-100")
        li(class="page-item")
         a(class="page-link" href="#") 
          svg(width="16" height="12" viewBox="0 0 10 6" xmlns="http://www.w3.org/2000/svg")
           path(d="M5.27438 5.58083L9.89199 0.963231C10.0396 0.810363 10.0354 0.566767 9.88252 0.41913C9.73339 0.2751 9.49699 0.2751 9.34789 0.41913L5.00233 4.76468L0.656779 0.41913C0.506526 0.2689 0.262929 0.2689 0.112677 0.41913C-0.0375528 0.569405 -0.0375529 0.812978 0.112677 0.963231L4.73028 5.58083C4.88056 5.73106 5.12413 5.73106 5.27438 5.58083Z")
        li(class="page-item")
         a(class="page-link active" href="#") 1 
        li(class="page-item")
         a(class="page-link" href="#") 2
        li(class="page-item")
         a(class="page-link" href="#") 3
        li(class="page-item")
         a(class="page-link" href="#") 
          svg(width="16" height="12" viewBox="0 0 10 6" xmlns="http://www.w3.org/2000/svg")
           path(d="M5.27438 5.58083L9.89199 0.963231C10.0396 0.810363 10.0354 0.566767 9.88252 0.41913C9.73339 0.2751 9.49699 0.2751 9.34789 0.41913L5.00233 4.76468L0.656779 0.41913C0.506526 0.2689 0.262929 0.2689 0.112677 0.41913C-0.0375528 0.569405 -0.0375529 0.812978 0.112677 0.963231L4.73028 5.58083C4.88056 5.73106 5.12413 5.73106 5.27438 5.58083Z") 