section.numbers
  div.container
    div.row
     div(class="col-sm-4 item") 
       div.flex
        h3(class="timer" data-to="152" data-speed="15000")
        span +    
       h4.title Completed projects
     div(class="col-sm-4 item")
      div.flex     
        h3(class="timer" data-to="43" data-speed="15000")
        span +  
      h4.title  Company partners
     div(class="col-sm-4 item") 
      div.flex  
        h3(class="timer" data-to="5000" data-speed="15000")  
        span +  
      h4.title Company employees