extend index

block pageindex
 section.map-back
  img(src="images/slider/img1.jpg" alt="")
  div(class="container") 
   h1.title Oops 404
   ul.maplink
     li #[a(href="index.html") home]
     li Oops 404

 section.textmessage
  div.container
   div(class="textcenter mt-0") 
    div.w-100.text-center.mt-0
     h1(class="title") Oops!
     p.textlight Lorem ipsum dolor sit amet consectetur. Nisl sit pharetra pulvinar amet elementum. Arcu eu elit tortor accumsan. Massa lacus cursus ut congue in ultrices. Justo vulputate quis quis leo tristique suspendisse lacus sit. Scelerisque molestie elementum sem id etiam placerat non viverra.
     a(href="index.html" class="bottom") #[span Back] 