extend index

block pageindex 
 section.map-back
  img(src="images/slider/img2.jpg" alt="")
  div(class="container") 
   h1.title Privacy Policy
   ul.maplink
     li #[a(href="index.html") home]
     li   privacy policy   
 section.privacy-policy
  div.container
   p If You Can't Find What You're Looking For In Our FAQ, Feel Free To Contact Us. If You Can't Find What You're Looking For In Our FAQ, Feel Free To Contact Us. If You Can't Find What You're Looking For In Our FAQ, Feel Free To Contact Us. If You Can't Find What You're Looking For In Our FAQ, Feel Free To Contact Us. If You Can't Find What You're Looking For In Our FAQ, Feel Free To Contact Us. If You Can't Find What You're Looking For In Our FAQ, Feel Free To Contact Us. If You Can't Find What You're Looking For In Our FAQ, Feel Free To Contact Us.If You Can't Find What You're Looking For In Our FAQ, Feel Free To Contact Us. If You Can't Find What You're Looking For In Our FAQ, Feel Free To Contact Us. If You Can't Find What You're Looking For In Our FAQ, Feel Free To Contact Us. If You Can't Find What You're Looking For In Our FAQ, Feel Free To Contact Us. If You Can't Find What You're Looking For In Our If You Can't Find What You're Looking For In Our FAQ, Feel Free To Contact Us. If You Can't Find What You're Looking For In Our FAQ, Feel Free To Contact Us. If You Can't Find What You're Looking For In Our FAQ, Feel Free To Contact Us. If You Can't Find What You're Looking For In Our FAQ, Feel Free To Contact Us. If You Can't Find What You're Looking For In Our If You Can't Find What You're Looking For In Our FAQ, Feel Free To Contact Us. If You Can't Find What You're Looking For In Our FAQ, Feel Free To Contact Us. If You Can't Find What You're Looking For In Our FAQ, Feel Free To Contact Us .