extend index

block pageindex
 section.map-back
  img(src="images/slider/img1.jpg" alt="")
  div(class="container") 
   h1.title  Decarbonisation
   ul.maplink
     li #[a(href="index.html") home]
     li #[a(href="services.html") Services & solutions ]
     li  Decarbonisation
 section.servicesiner
  div.container
   div.row
    div.col-sm-6.item
     div.photo
       img(src="images/dec1.jpg" alt="")
    div.col-sm-6.item
     div
      span.tag.mb-2 Professionalism
      h2(class="title") We provide comprehensive and radical solutions
      p We seek to manage, operate and maintain the facilities and projects assigned to us by ministries, government agencies and the private sector through the use of a trained technical staff and competent employees with professionalism and high quality, with a focus on gaining the trust of our customers, employees and society and through effective performance of sustainable facilities capable of development and growth.<br><br>Contact our specialist team today:
      a(href="contactus.html" class="bottom") #[span Let’s Talk]
 section.minservices
  div.container
   h2(class="title text-center") More power to you
   p.text-center.mt-3  Whatever your organisation’s energy requirements, Rock Power Connections can deliver the <br>appropriate solution. From providing additional power to your premises, to implementing new<br>electric vehicle (EV) infrastructure, powering new buildings and making connection upgrades,<br>we’re switched on to your organisation’s energy needs.
   div.powertabs 
    ul(class="nav nav-tabs " id="myTab" role="tablist")
        li(class="nav-item") 
         a(class="nav-link active show" id="item-1-tab" data-toggle="tab" href="#item-1" role="tab" aria-controls="item-1" aria-selected="true")   Establish a seamless power connection
        li(class="nav-item")
         a(class="nav-link" id="item-2-tab" data-toggle="tab" href="#item-2" role="tab" aria-controls="item-2" aria-selected="false")    Install EV charging infrastructure
        li(class="nav-item")
         a(class="nav-link" id="item-3-tab" data-toggle="tab" href="#item-3" role="tab" aria-controls="item-3" aria-selected="false")     Build grid resilience
        li(class="nav-item")
         a(class="nav-link" id="item-4-tab" data-toggle="tab" href="#item-4" role="tab" aria-controls="item-4" aria-selected="false")  Gain flexible metering across estates            
        li(class="nav-item")
         a(class="nav-link" id="item-5-tab" data-toggle="tab" href="#item-5" role="tab" aria-controls="item-5" aria-selected="false")  Make savings with transformer upgrades  
   
    div(class="tab-content" id="myTabContent")
     div(class="tab-pane fade show active "  id="item-1"  role="tabpanel" aria-labelledby="item-1-tab") 
       div.row
        div.col-sm-6.iteminner
         div
          h2(class="title") We provide comprehensive and radical solutions
          p We seek to manage, operate and maintain the facilities and projects assigned to us by ministries, government agencies and the private sector through the use of a trained technical staff and competent employees with professionalism and high quality, with a focus on gaining the trust of our customers, employees and society and through effective performance of sustainable facilities capable of development and growth.<br><br>Contact our specialist team today:
          a(href="#" class="bottom") #[span Download our Mini Guide]
        div.col-sm-6.iteminner
         div.photo
          img(src="images/dec1.jpg" alt="")
     div(class="tab-pane" id="item-2"  role="tabpanel" aria-labelledby="item-2-tab") 
       div.row
        div.col-sm-6.iteminner
         div
          h2(class="title") Get your people into the EV driving seat
          p We seek to manage, operate and maintain the facilities and projects assigned to us by ministries, government agencies and the private sector through the use of a trained technical staff and competent employees with professionalism and high quality, with a focus on gaining the trust of our customers, employees and society and through effective performance of sustainable facilities capable of development and growth.<br><br>Contact our specialist team today:
          a(href="#" class="bottom") #[span Download our Mini Guide]
        div.col-sm-6.iteminner
         div.photo
          img(src="images/dec2.jpg" alt="")
     div(class="tab-pane" id="item-3"  role="tabpanel" aria-labelledby="item-3-tab") 
       div.row
        div.col-sm-6.iteminner
         div
          h2(class="title") Accelerate your fleet into the EV fast lane
          p We seek to manage, operate and maintain the facilities and projects assigned to us by ministries, government agencies and the private sector through the use of a trained technical staff and competent employees with professionalism and high quality, with a focus on gaining the trust of our customers, employees and society and through effective performance of sustainable facilities capable of development and growth.<br><br>Contact our specialist team today:
          a(href="#" class="bottom") #[span Download our Mini Guide]
        div.col-sm-6.iteminner
         div.photo
          img(src="images/dec3.jpg" alt="")
     div(class="tab-pane" id="item-4"  role="tabpanel" aria-labelledby="item-4-tab")
       div.row
        div.col-sm-6.iteminner
         div
          h2(class="title") Accelerate your fleet into the EV fast lane
          p We seek to manage, operate and maintain the facilities and projects assigned to us by ministries, government agencies and the private sector through the use of a trained technical staff and competent employees with professionalism and high quality, with a focus on gaining the trust of our customers, employees and society and through effective performance of sustainable facilities capable of development and growth.<br><br>Contact our specialist team today:
          a(href="#" class="bottom") #[span Download our Mini Guide]
        div.col-sm-6.iteminner
         div.photo
          img(src="images/dec4.jpg" alt="")
     div(class="tab-pane" id="item-5"  role="tabpanel" aria-labelledby="item-5-tab")
       div.row
        div.col-sm-6.iteminner
         div
          h2(class="title") Accelerate your fleet into the EV fast lane
          p We seek to manage, operate and maintain the facilities and projects assigned to us by ministries, government agencies and the private sector through the use of a trained technical staff and competent employees with professionalism and high quality, with a focus on gaining the trust of our customers, employees and society and through effective performance of sustainable facilities capable of development and growth.<br><br>Contact our specialist team today:
          a(href="#" class="bottom") #[span Download our Mini Guide]
        div.col-sm-6.iteminner
         div.photo
          img(src="images/dec5.jpg" alt="") 
 section.faqs.n-bg
  div.container
   h2(class="title text-center") Power Services​
   p.text-center.mt-3  Whatever your organisation’s energy requirements, Rock Power Connections can deliver the <br>appropriate solution. From providing additional power to your premises, to implementing new 
   div(id="accordionExample" class="accordion mt-5") 
       div.option
        div(id="headingOne" class="click-title")
         a(href="#" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne" class="d-block position-relative collapsible-link")  What contracts are available for cleaners?
        div(id="collapseOne" aria-labelledby="headingOne" data-parent="#accordionExample" class="collapse")
          p.text    Integrated facilities was established to manage, operate, and maintain government facilities, companies, and private and public establishments. It began in 1976 with more than 45 years of experience, not only providing cleaning and environmental care services, but also including all utility services to achieve the partners’ goals through a trained team under the management and supervision of experts applying proven methodologies and the latest innovative technologies. To provide the best comprehensive solutions and services
       div.option
        div(id="headingTwo" class="click-title")
         a(href="#" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo" class="d-block position-relative collapsible-link")   I have a shop. Do you provide a cleaner?
        div(id="collapseTwo" aria-labelledby="headingTwo" data-parent="#accordionExample" class="collapse")
          p.text    Integrated facilities was established to manage, operate, and maintain government facilities, companies, and private and public establishments. It began in 1976 with more than 45 years of experience, not only providing cleaning and environmental care services, but also including all utility services to achieve the partners’ goals through a trained team under the management and supervision of experts applying proven methodologies and the latest innovative technologies. To provide the best comprehensive solutions and services
       div.option
        div(id="headingThree" class="click-title")
         a(href="#" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree" class="d-block position-relative collapsible-link") Do the contracts include the worker’s housing or without housing?
        div(id="collapseThree" aria-labelledby="headingThree" data-parent="#accordionExample" class="collapse")
          p.text    Integrated facilities was established to manage, operate, and maintain government facilities, companies, and private and public establishments. It began in 1976 with more than 45 years of experience, not only providing cleaning and environmental care services, but also including all utility services to achieve the partners’ goals through a trained team under the management and supervision of experts applying proven methodologies and the latest innovative technologies. To provide the best comprehensive solutions and services
       div.option
        div(id="headingFor" class="click-title")
         a(href="#" data-toggle="collapse" data-target="#collapseFor" aria-expanded="false" aria-controls="collapseFor" class="d-block position-relative collapsible-link")  I have a farm. Do you provide workers?
        div(id="collapseFor" aria-labelledby="headingFor" data-parent="#accordionExample" class="collapse")
          p.text    Integrated facilities was established to manage, operate, and maintain government facilities, companies, and private and public establishments. It began in 1976 with more than 45 years of experience, not only providing cleaning and environmental care services, but also including all utility services to achieve the partners’ goals through a trained team under the management and supervision of experts applying proven methodologies and the latest innovative technologies. To provide the best comprehensive solutions and services
 section.awards
  div.container
   span.tag.text-center.mb-2 Our Awards
   h2.title.text-center Awards and accreditations
   div.row
    div.col-sm-3.item
     a(href="#")
      img(src='images/a-1.png' alt="")
    div.col-sm-3.item
     a(href="#")
      img(src='images/a-2.png' alt="")   
    div.col-sm-3.item
     a(href="#")
      img(src='images/a-3.png' alt="")    
    div.col-sm-3.item
     a(href="#")
      img(src='images/a-4.png' alt="")
    div.col-sm-3.item
     a(href="#")
      img(src='images/a-5.png' alt="")
    div.col-sm-3.item
     a(href="#")
      img(src='images/a-6.png' alt="")
    div.col-sm-3.item
     a(href="#")
      img(src='images/a-7.png' alt="")
 section.teams
  div.container
   span.tag.text-center.mb-2 Our Expert Staff
   h2(class="title text-center") Meet our experienced <br>team people
   div(class="row")
    div(class="col-sm-3 item")
     div.inner
      div.photo
       img(src="images/dec11.jpg" alt="") 
       nav.social
        a(class="icon-facebook" href="#" target="_blank" title="Facebook")
         svg(id="Bold" enable-background="new 0 0 24 24" height="512" viewBox="0 0 24 24" width="512" xmlns="http://www.w3.org/2000/svg")
          path(d="m15.997 3.985h2.191v-3.816c-.378-.052-1.678-.169-3.192-.169-3.159 0-5.323 1.987-5.323 5.639v3.361h-3.486v4.266h3.486v10.734h4.274v-10.733h3.345l.531-4.266h-3.877v-2.939c.001-1.233.333-2.077 2.051-2.077z")
        a(class="icon-twitter" href="#" target="_blank" title="Twitter")
         svg(xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" width="256" height="256" viewBox="0 0 256 256" xml:space="preserve")
          g(style="stroke: none; stroke-width: 0; stroke-dasharray: none; stroke-linecap: butt; stroke-linejoin: miter; stroke-miterlimit: 10; fill: none; fill-rule: nonzero; opacity: 1;" transform="translate(1.4065934065934016 1.4065934065934016) scale(2.81 2.81)")
           path(d="M 0.219 2.882 l 34.748 46.461 L 0 87.118 h 7.87 l 30.614 -33.073 l 24.735 33.073 H 90 L 53.297 38.043 L 85.844 2.882 h -7.87 L 49.781 33.341 L 27.001 2.882 H 0.219 z M 11.793 8.679 h 12.303 L 78.425 81.32 H 66.122 L 11.793 8.679 z" style="stroke: none; stroke-width: 1; stroke-dasharray: none; stroke-linecap: butt; stroke-linejoin: miter; stroke-miterlimit: 10; fill: #000; fill-rule: nonzero; opacity: 1;" transform=" matrix(1 0 0 1 0 0) ")
        a(class="icon-instagram" href="#" target="_blank" title="Instagram")
         svg(width="20" height="20" viewBox="0 0 20 20"  xmlns="http://www.w3.org/2000/svg")
          path(d="M14.4805 0H5.51913C2.47588 0 0 2.476 0 5.51924V14.4806C0 17.524 2.47588 19.9999 5.51913 19.9999H14.4805C17.524 19.9999 19.9999 17.5239 19.9999 14.4806V5.51924C20 2.476 17.524 0 14.4805 0ZM18.2255 14.4806C18.2255 16.5455 16.5455 18.2254 14.4806 18.2254H5.51913C3.45433 18.2255 1.77449 16.5455 1.77449 14.4806V5.51924C1.77449 3.45445 3.45433 1.77449 5.51913 1.77449H14.4805C16.5454 1.77449 18.2254 3.45445 18.2254 5.51924V14.4806H18.2255Z")
          path(d="M10.0001 4.84668C7.15848 4.84668 4.84668 7.15848 4.84668 10.0001C4.84668 12.8417 7.15848 15.1534 10.0001 15.1534C12.8418 15.1534 15.1536 12.8417 15.1536 10.0001C15.1536 7.15848 12.8418 4.84668 10.0001 4.84668ZM10.0001 13.3788C8.13705 13.3788 6.62117 11.8631 6.62117 10C6.62117 8.13681 8.13693 6.62105 10.0001 6.62105C11.8634 6.62105 13.3791 8.13681 13.3791 10C13.3791 11.8631 11.8632 13.3788 10.0001 13.3788Z")
          path(d="M15.3696 3.3418C15.0278 3.3418 14.6919 3.48021 14.4505 3.72272C14.2078 3.96405 14.0684 4.30002 14.0684 4.64309C14.0684 4.98509 14.208 5.32094 14.4505 5.56345C14.6918 5.80478 15.0278 5.94438 15.3696 5.94438C15.7127 5.94438 16.0475 5.80478 16.29 5.56345C16.5325 5.32094 16.6709 4.98497 16.6709 4.64309C16.6709 4.30002 16.5325 3.96405 16.29 3.72272C16.0487 3.48021 15.7127 3.3418 15.3696 3.3418Z")
        a(class="icon-linkedin" href="#" target="_blank" title="linkedin")
         svg( viewBox="-21 -35 682.66669 682" width="682pt" xmlns="http://www.w3.org/2000/svg")
          path(d="m77.613281-.667969c-46.929687 0-77.613281 30.816407-77.613281 71.320313 0 39.609375 29.769531 71.304687 75.8125 71.304687h.890625c47.847656 0 77.625-31.695312 77.625-71.304687-.894531-40.503906-29.777344-71.320313-76.714844-71.320313zm0 0")
          path(d="m8.109375 198.3125h137.195313v412.757812h-137.195313zm0 0")
          path(d="m482.054688 188.625c-74.011719 0-123.640626 69.546875-123.640626 69.546875v-59.859375h-137.199218v412.757812h137.191406v-230.5c0-12.339843.894531-24.660156 4.519531-33.484374 9.917969-24.640626 32.488281-50.167969 70.390625-50.167969 49.644532 0 69.5 37.851562 69.5 93.339843v220.8125h137.183594v-236.667968c0-126.78125-67.6875-185.777344-157.945312-185.777344zm0 0")
      h3.title mohamed asmail
      p front end developer
    div(class="col-sm-3 item")
     div.inner
      div.photo
       img(src="images/dec11.jpg" alt="") 
       nav.social
        a(class="icon-facebook" href="#" target="_blank" title="Facebook")
         svg(id="Bold" enable-background="new 0 0 24 24" height="512" viewBox="0 0 24 24" width="512" xmlns="http://www.w3.org/2000/svg")
          path(d="m15.997 3.985h2.191v-3.816c-.378-.052-1.678-.169-3.192-.169-3.159 0-5.323 1.987-5.323 5.639v3.361h-3.486v4.266h3.486v10.734h4.274v-10.733h3.345l.531-4.266h-3.877v-2.939c.001-1.233.333-2.077 2.051-2.077z")
        a(class="icon-twitter" href="#" target="_blank" title="Twitter")
         svg(xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" width="256" height="256" viewBox="0 0 256 256" xml:space="preserve")
          g(style="stroke: none; stroke-width: 0; stroke-dasharray: none; stroke-linecap: butt; stroke-linejoin: miter; stroke-miterlimit: 10; fill: none; fill-rule: nonzero; opacity: 1;" transform="translate(1.4065934065934016 1.4065934065934016) scale(2.81 2.81)")
           path(d="M 0.219 2.882 l 34.748 46.461 L 0 87.118 h 7.87 l 30.614 -33.073 l 24.735 33.073 H 90 L 53.297 38.043 L 85.844 2.882 h -7.87 L 49.781 33.341 L 27.001 2.882 H 0.219 z M 11.793 8.679 h 12.303 L 78.425 81.32 H 66.122 L 11.793 8.679 z" style="stroke: none; stroke-width: 1; stroke-dasharray: none; stroke-linecap: butt; stroke-linejoin: miter; stroke-miterlimit: 10; fill: #000; fill-rule: nonzero; opacity: 1;" transform=" matrix(1 0 0 1 0 0) ")
        a(class="icon-instagram" href="#" target="_blank" title="Instagram")
         svg(width="20" height="20" viewBox="0 0 20 20"  xmlns="http://www.w3.org/2000/svg")
          path(d="M14.4805 0H5.51913C2.47588 0 0 2.476 0 5.51924V14.4806C0 17.524 2.47588 19.9999 5.51913 19.9999H14.4805C17.524 19.9999 19.9999 17.5239 19.9999 14.4806V5.51924C20 2.476 17.524 0 14.4805 0ZM18.2255 14.4806C18.2255 16.5455 16.5455 18.2254 14.4806 18.2254H5.51913C3.45433 18.2255 1.77449 16.5455 1.77449 14.4806V5.51924C1.77449 3.45445 3.45433 1.77449 5.51913 1.77449H14.4805C16.5454 1.77449 18.2254 3.45445 18.2254 5.51924V14.4806H18.2255Z")
          path(d="M10.0001 4.84668C7.15848 4.84668 4.84668 7.15848 4.84668 10.0001C4.84668 12.8417 7.15848 15.1534 10.0001 15.1534C12.8418 15.1534 15.1536 12.8417 15.1536 10.0001C15.1536 7.15848 12.8418 4.84668 10.0001 4.84668ZM10.0001 13.3788C8.13705 13.3788 6.62117 11.8631 6.62117 10C6.62117 8.13681 8.13693 6.62105 10.0001 6.62105C11.8634 6.62105 13.3791 8.13681 13.3791 10C13.3791 11.8631 11.8632 13.3788 10.0001 13.3788Z")
          path(d="M15.3696 3.3418C15.0278 3.3418 14.6919 3.48021 14.4505 3.72272C14.2078 3.96405 14.0684 4.30002 14.0684 4.64309C14.0684 4.98509 14.208 5.32094 14.4505 5.56345C14.6918 5.80478 15.0278 5.94438 15.3696 5.94438C15.7127 5.94438 16.0475 5.80478 16.29 5.56345C16.5325 5.32094 16.6709 4.98497 16.6709 4.64309C16.6709 4.30002 16.5325 3.96405 16.29 3.72272C16.0487 3.48021 15.7127 3.3418 15.3696 3.3418Z")
        a(class="icon-linkedin" href="#" target="_blank" title="linkedin")
         svg( viewBox="-21 -35 682.66669 682" width="682pt" xmlns="http://www.w3.org/2000/svg")
          path(d="m77.613281-.667969c-46.929687 0-77.613281 30.816407-77.613281 71.320313 0 39.609375 29.769531 71.304687 75.8125 71.304687h.890625c47.847656 0 77.625-31.695312 77.625-71.304687-.894531-40.503906-29.777344-71.320313-76.714844-71.320313zm0 0")
          path(d="m8.109375 198.3125h137.195313v412.757812h-137.195313zm0 0")
          path(d="m482.054688 188.625c-74.011719 0-123.640626 69.546875-123.640626 69.546875v-59.859375h-137.199218v412.757812h137.191406v-230.5c0-12.339843.894531-24.660156 4.519531-33.484374 9.917969-24.640626 32.488281-50.167969 70.390625-50.167969 49.644532 0 69.5 37.851562 69.5 93.339843v220.8125h137.183594v-236.667968c0-126.78125-67.6875-185.777344-157.945312-185.777344zm0 0")
      h3.title mohamed asmail
      p front end developer
    div(class="col-sm-3 item")
     div.inner
      div.photo
       img(src="images/dec11.jpg" alt="") 
       nav.social
        a(class="icon-facebook" href="#" target="_blank" title="Facebook")
         svg(id="Bold" enable-background="new 0 0 24 24" height="512" viewBox="0 0 24 24" width="512" xmlns="http://www.w3.org/2000/svg")
          path(d="m15.997 3.985h2.191v-3.816c-.378-.052-1.678-.169-3.192-.169-3.159 0-5.323 1.987-5.323 5.639v3.361h-3.486v4.266h3.486v10.734h4.274v-10.733h3.345l.531-4.266h-3.877v-2.939c.001-1.233.333-2.077 2.051-2.077z")
        a(class="icon-twitter" href="#" target="_blank" title="Twitter")
         svg(xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" width="256" height="256" viewBox="0 0 256 256" xml:space="preserve")
          g(style="stroke: none; stroke-width: 0; stroke-dasharray: none; stroke-linecap: butt; stroke-linejoin: miter; stroke-miterlimit: 10; fill: none; fill-rule: nonzero; opacity: 1;" transform="translate(1.4065934065934016 1.4065934065934016) scale(2.81 2.81)")
           path(d="M 0.219 2.882 l 34.748 46.461 L 0 87.118 h 7.87 l 30.614 -33.073 l 24.735 33.073 H 90 L 53.297 38.043 L 85.844 2.882 h -7.87 L 49.781 33.341 L 27.001 2.882 H 0.219 z M 11.793 8.679 h 12.303 L 78.425 81.32 H 66.122 L 11.793 8.679 z" style="stroke: none; stroke-width: 1; stroke-dasharray: none; stroke-linecap: butt; stroke-linejoin: miter; stroke-miterlimit: 10; fill: #000; fill-rule: nonzero; opacity: 1;" transform=" matrix(1 0 0 1 0 0) ")
        a(class="icon-instagram" href="#" target="_blank" title="Instagram")
         svg(width="20" height="20" viewBox="0 0 20 20"  xmlns="http://www.w3.org/2000/svg")
          path(d="M14.4805 0H5.51913C2.47588 0 0 2.476 0 5.51924V14.4806C0 17.524 2.47588 19.9999 5.51913 19.9999H14.4805C17.524 19.9999 19.9999 17.5239 19.9999 14.4806V5.51924C20 2.476 17.524 0 14.4805 0ZM18.2255 14.4806C18.2255 16.5455 16.5455 18.2254 14.4806 18.2254H5.51913C3.45433 18.2255 1.77449 16.5455 1.77449 14.4806V5.51924C1.77449 3.45445 3.45433 1.77449 5.51913 1.77449H14.4805C16.5454 1.77449 18.2254 3.45445 18.2254 5.51924V14.4806H18.2255Z")
          path(d="M10.0001 4.84668C7.15848 4.84668 4.84668 7.15848 4.84668 10.0001C4.84668 12.8417 7.15848 15.1534 10.0001 15.1534C12.8418 15.1534 15.1536 12.8417 15.1536 10.0001C15.1536 7.15848 12.8418 4.84668 10.0001 4.84668ZM10.0001 13.3788C8.13705 13.3788 6.62117 11.8631 6.62117 10C6.62117 8.13681 8.13693 6.62105 10.0001 6.62105C11.8634 6.62105 13.3791 8.13681 13.3791 10C13.3791 11.8631 11.8632 13.3788 10.0001 13.3788Z")
          path(d="M15.3696 3.3418C15.0278 3.3418 14.6919 3.48021 14.4505 3.72272C14.2078 3.96405 14.0684 4.30002 14.0684 4.64309C14.0684 4.98509 14.208 5.32094 14.4505 5.56345C14.6918 5.80478 15.0278 5.94438 15.3696 5.94438C15.7127 5.94438 16.0475 5.80478 16.29 5.56345C16.5325 5.32094 16.6709 4.98497 16.6709 4.64309C16.6709 4.30002 16.5325 3.96405 16.29 3.72272C16.0487 3.48021 15.7127 3.3418 15.3696 3.3418Z")
        a(class="icon-linkedin" href="#" target="_blank" title="linkedin")
         svg( viewBox="-21 -35 682.66669 682" width="682pt" xmlns="http://www.w3.org/2000/svg")
          path(d="m77.613281-.667969c-46.929687 0-77.613281 30.816407-77.613281 71.320313 0 39.609375 29.769531 71.304687 75.8125 71.304687h.890625c47.847656 0 77.625-31.695312 77.625-71.304687-.894531-40.503906-29.777344-71.320313-76.714844-71.320313zm0 0")
          path(d="m8.109375 198.3125h137.195313v412.757812h-137.195313zm0 0")
          path(d="m482.054688 188.625c-74.011719 0-123.640626 69.546875-123.640626 69.546875v-59.859375h-137.199218v412.757812h137.191406v-230.5c0-12.339843.894531-24.660156 4.519531-33.484374 9.917969-24.640626 32.488281-50.167969 70.390625-50.167969 49.644532 0 69.5 37.851562 69.5 93.339843v220.8125h137.183594v-236.667968c0-126.78125-67.6875-185.777344-157.945312-185.777344zm0 0")
      h3.title mohamed asmail
      p front end developer 
    div(class="col-sm-3 item")
     div.inner
      div.photo
       img(src="images/dec11.jpg" alt="") 
       nav.social
        a(class="icon-facebook" href="#" target="_blank" title="Facebook")
         svg(id="Bold" enable-background="new 0 0 24 24" height="512" viewBox="0 0 24 24" width="512" xmlns="http://www.w3.org/2000/svg")
          path(d="m15.997 3.985h2.191v-3.816c-.378-.052-1.678-.169-3.192-.169-3.159 0-5.323 1.987-5.323 5.639v3.361h-3.486v4.266h3.486v10.734h4.274v-10.733h3.345l.531-4.266h-3.877v-2.939c.001-1.233.333-2.077 2.051-2.077z")
        a(class="icon-twitter" href="#" target="_blank" title="Twitter")
         svg(xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" width="256" height="256" viewBox="0 0 256 256" xml:space="preserve")
          g(style="stroke: none; stroke-width: 0; stroke-dasharray: none; stroke-linecap: butt; stroke-linejoin: miter; stroke-miterlimit: 10; fill: none; fill-rule: nonzero; opacity: 1;" transform="translate(1.4065934065934016 1.4065934065934016) scale(2.81 2.81)")
           path(d="M 0.219 2.882 l 34.748 46.461 L 0 87.118 h 7.87 l 30.614 -33.073 l 24.735 33.073 H 90 L 53.297 38.043 L 85.844 2.882 h -7.87 L 49.781 33.341 L 27.001 2.882 H 0.219 z M 11.793 8.679 h 12.303 L 78.425 81.32 H 66.122 L 11.793 8.679 z" style="stroke: none; stroke-width: 1; stroke-dasharray: none; stroke-linecap: butt; stroke-linejoin: miter; stroke-miterlimit: 10; fill: #000; fill-rule: nonzero; opacity: 1;" transform=" matrix(1 0 0 1 0 0) ")
        a(class="icon-instagram" href="#" target="_blank" title="Instagram")
         svg(width="20" height="20" viewBox="0 0 20 20"  xmlns="http://www.w3.org/2000/svg")
          path(d="M14.4805 0H5.51913C2.47588 0 0 2.476 0 5.51924V14.4806C0 17.524 2.47588 19.9999 5.51913 19.9999H14.4805C17.524 19.9999 19.9999 17.5239 19.9999 14.4806V5.51924C20 2.476 17.524 0 14.4805 0ZM18.2255 14.4806C18.2255 16.5455 16.5455 18.2254 14.4806 18.2254H5.51913C3.45433 18.2255 1.77449 16.5455 1.77449 14.4806V5.51924C1.77449 3.45445 3.45433 1.77449 5.51913 1.77449H14.4805C16.5454 1.77449 18.2254 3.45445 18.2254 5.51924V14.4806H18.2255Z")
          path(d="M10.0001 4.84668C7.15848 4.84668 4.84668 7.15848 4.84668 10.0001C4.84668 12.8417 7.15848 15.1534 10.0001 15.1534C12.8418 15.1534 15.1536 12.8417 15.1536 10.0001C15.1536 7.15848 12.8418 4.84668 10.0001 4.84668ZM10.0001 13.3788C8.13705 13.3788 6.62117 11.8631 6.62117 10C6.62117 8.13681 8.13693 6.62105 10.0001 6.62105C11.8634 6.62105 13.3791 8.13681 13.3791 10C13.3791 11.8631 11.8632 13.3788 10.0001 13.3788Z")
          path(d="M15.3696 3.3418C15.0278 3.3418 14.6919 3.48021 14.4505 3.72272C14.2078 3.96405 14.0684 4.30002 14.0684 4.64309C14.0684 4.98509 14.208 5.32094 14.4505 5.56345C14.6918 5.80478 15.0278 5.94438 15.3696 5.94438C15.7127 5.94438 16.0475 5.80478 16.29 5.56345C16.5325 5.32094 16.6709 4.98497 16.6709 4.64309C16.6709 4.30002 16.5325 3.96405 16.29 3.72272C16.0487 3.48021 15.7127 3.3418 15.3696 3.3418Z")
        a(class="icon-linkedin" href="#" target="_blank" title="linkedin")
         svg( viewBox="-21 -35 682.66669 682" width="682pt" xmlns="http://www.w3.org/2000/svg")
          path(d="m77.613281-.667969c-46.929687 0-77.613281 30.816407-77.613281 71.320313 0 39.609375 29.769531 71.304687 75.8125 71.304687h.890625c47.847656 0 77.625-31.695312 77.625-71.304687-.894531-40.503906-29.777344-71.320313-76.714844-71.320313zm0 0")
          path(d="m8.109375 198.3125h137.195313v412.757812h-137.195313zm0 0")
          path(d="m482.054688 188.625c-74.011719 0-123.640626 69.546875-123.640626 69.546875v-59.859375h-137.199218v412.757812h137.191406v-230.5c0-12.339843.894531-24.660156 4.519531-33.484374 9.917969-24.640626 32.488281-50.167969 70.390625-50.167969 49.644532 0 69.5 37.851562 69.5 93.339843v220.8125h137.183594v-236.667968c0-126.78125-67.6875-185.777344-157.945312-185.777344zm0 0")
      h3.title mohamed asmail
      p front end developer
 section.contactus.helpform
  div.container
   div.row
    div(class="col-sm-5 item")
     h5.title How can we help?
     p If you’re looking for more information, need to talk to someone about an enquiry or want to chat about your service needs, then you’ve come to the right place. <br><br> Please fill in our short form and a member of our team will be in touch.<br><br>If you have a supplier enquiry, please visit our dedicated portal on #[a(href="mailto:info@ifm.com.sa") info@ifm.com.sa]
    div(class="col-sm-7 item")
        form(action="#" method="")    
         div.row
          div.col-sm-4.field
            select.form-control
             option(value="") Select Title
             option(value="") Mr
          div.col-sm-4.field
           input(type="text" name="" class="form-control" placeholder="First name" onfocus="this.placeholder=''" onblur="this.placeholder='First name'")
          div.col-sm-4.field
           input(type="text" name="" class="form-control" placeholder="Last name" onfocus="this.placeholder=''" onblur="this.placeholder='Last name'")        
          div.col-sm-6.field
           input(type="text" name="" class="form-control" placeholder="Email" onfocus="this.placeholder=''" onblur="this.placeholder='Email'")
          div.col-sm-6.field
           input(type="text" name="" class="form-control" placeholder="Phone Number" onfocus="this.placeholder=''" onblur="this.placeholder='Phone Number'")
          div.col-sm-6.field
           input(type="text" name="" class="form-control" placeholder="Company name" onfocus="this.placeholder=''" onblur="this.placeholder='Company name'")
          div.col-sm-6.field
            select.form-control
             option(value="") Company Size
             option(value="") 1-500       
          div.col-sm-12.field
            select.form-control#type
             option(value="l_letter") Please tell us what you’re enquiring about?
             option(value="enquiry") I have a general enquiry             
             option(value="takamul") I am interested in receiving services from Takamul AlOula  
          div(id="row_dim")
           div.col-sm-12.field  
            textarea(type="text" name="" class="form-control" placeholder="Please provide any other relevant information" onfocus="this.placeholder=''" onblur="this.placeholder='Please provide any other relevant information'")
          div(id="row_dim2")
           div.col-sm-12.field
            select.form-control
             option(value="") Select Sector
             option(value="") Distribution & Logistics            
             option(value="") Financial Services
           div.col-sm-12.field
            select.form-control
             option(value="") Select Service
             option(value="") Care & Custody          
             option(value="") Cleaning Services
           div.col-sm-12.field 
            textarea(type="text" name="" class="form-control" placeholder="Please provide any other relevant information" onfocus="this.placeholder=''" onblur="this.placeholder='Please provide any other relevant information'")
          div.col-sm-12.field 
            label.che-box 
             input(type="checkbox" name="colorCheckbox" value="box-2")
             span.label-text  I agree to receive marketing communications from Takamul AlOula Facility Management . I understand that I can unsubscribe at any time. 
            label.che-box.mt-4
             input(type="checkbox" name="colorCheckbox" value="box-2")
             span.label-text  I have read and agree to Takamul   #[a(href="privacy-policy.html")   Privacy Policy] and for Takamul AlOula Facility Management to process my data in accordance with their
          div.col-sm-12.field 
           button(class="bottom" type="submit")   #[span Submit] 
