.header {
  width: 100%;
  position: absolute;
  left: 0px;
  top: 0px;
  z-index: 1000;
  padding: 12px 0px;
  -moz-transition: all 0.5s ease-in-out 0s;
  -o-transition: all 0.5s ease-in-out 0s;
  -webkit-transition: all 0.5s ease-in-out 0s;
  transition: all 0.5s ease-in-out 0s;
  border-bottom: 1px solid #cccccc82; }
  @media (max-width: 991px) {
    .header {
      padding: 8px 0px; } }
  .header ::-webkit-scrollbar {
    width: 1px; }
  .header.sticky {
    position: fixed;
    background: #fff;
    -webkit-box-shadow: 4px 4px 60px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 4px 4px 60px rgba(0, 0, 0, 0.1);
    -o-box-shadow: 4px 4px 60px rgba(0, 0, 0, 0.1);
    -ms-box-shadow: 4px 4px 60px rgba(0, 0, 0, 0.1);
    box-shadow: 4px 4px 60px rgba(0, 0, 0, 0.1);
    border: 0px;
    -moz-transition: all 0.5s ease-in-out 0s;
    -o-transition: all 0.5s ease-in-out 0s;
    -webkit-transition: all 0.5s ease-in-out 0s;
    transition: all 0.5s ease-in-out 0s;
    padding: 8px 0px; }
    .header.sticky .menu-item {
      padding: 24px 0px; }
      @media (max-width: 991px) {
        .header.sticky .menu-item {
          padding: 0px;
          margin-bottom: 12px; }
          .header.sticky .menu-item:last-child {
            margin: 0px; } }
      .header.sticky .menu-item a {
        color: #002957; }
      .header.sticky .menu-item::before {
        top: 30%; }
    .header.sticky .logowight {
      display: none; }
    .header.sticky .logodork {
      display: block !important;
      max-width: 116px; }
    .header.sticky .logo img {
      max-width: 124px; }
      @media (max-width: 991px) {
        .header.sticky .logo img {
          max-width: 94px; } }
    .header.sticky .icon .searchicon svg path {
      fill: #002957; }
    .header.sticky .showboxsearch {
      top: 111%; }
      @media (max-width: 991px) {
        .header.sticky .showboxsearch {
          top: 63px; } }
    .header.sticky .burger-line {
      background: #002957; }
  .header .container {
    display: flex;
    align-items: center;
    justify-content: space-between; }
  .header .logo img {
    max-width: 140px;
    -moz-transition: all 0.5s ease-in-out 0s;
    -o-transition: all 0.5s ease-in-out 0s;
    -webkit-transition: all 0.5s ease-in-out 0s;
    transition: all 0.5s ease-in-out 0s; }
    @media (max-width: 1199px) {
      .header .logo img {
        max-width: 118px; } }
    @media (max-width: 991px) {
      .header .logo img {
        max-width: 94px; } }
  .header .logo .logodork {
    display: none; }
  .header .navbar {
    padding: 0px; }
    .header .navbar .cancel {
      display: none;
      position: absolute;
      top: 12px;
      right: 12px;
      z-index: 10; }
      .header .navbar .cancel svg {
        width: 18px;
        height: 18px; }
    @media screen and (max-width: 991px) {
      .header .navbar {
        position: fixed;
        top: 0;
        left: -100%;
        width: 290px;
        height: 100%;
        z-index: 10;
        opacity: 0;
        overflow: hidden;
        overflow-y: auto;
        visibility: hidden;
        box-shadow: 0px 10px 40px 0px #06163a1a;
        background: #001833;
        transition: all 0.5s ease; }
        .header .navbar .menu-link {
          color: #fff; }
          .header .navbar .menu-link svg {
            fill: #fff; }
        .header .navbar.active {
          left: 0rem;
          opacity: 1;
          visibility: visible; }
        .header .navbar .cancel {
          display: block; } }
  .header .menu-item {
    position: relative;
    display: inline-block;
    margin: 0px 12px;
    color: #000;
    padding: 26px 0px;
    -moz-transition: all 0.5s ease-in-out 0s;
    -o-transition: all 0.5s ease-in-out 0s;
    -webkit-transition: all 0.5s ease-in-out 0s;
    transition: all 0.5s ease-in-out 0s; }
    @media (max-width: 1199px) {
      .header .menu-item {
        margin: 0px 8px; } }
    .header .menu-item::before {
      content: "";
      position: absolute;
      top: 24px;
      left: 0px;
      width: 0px;
      height: 2px;
      background: #0f9fdc;
      -moz-transition: all 0.5s ease-in-out 0s;
      -o-transition: all 0.5s ease-in-out 0s;
      -webkit-transition: all 0.5s ease-in-out 0s;
      transition: all 0.5s ease-in-out 0s; }
      @media (max-width: 991px) {
        .header .menu-item::before {
          display: none; } }
  .header .menu-link {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    column-gap: 0.25rem;
    cursor: pointer;
    color: #fff;
    padding-left: 12px;
    text-transform: capitalize;
    -moz-transition: all 0.5s ease-in-out 0s;
    -o-transition: all 0.5s ease-in-out 0s;
    -webkit-transition: all 0.5s ease-in-out 0s;
    transition: all 0.5s ease-in-out 0s; }
    .header .menu-link svg {
      -moz-transition: all 0.5s ease-in-out 0s;
      -o-transition: all 0.5s ease-in-out 0s;
      -webkit-transition: all 0.5s ease-in-out 0s;
      transition: all 0.5s ease-in-out 0s; }
    @media (max-width: 991px) {
      .header .menu-link {
        color: #fff !important;
        padding-left: 0px; } }
    .header .menu-link::before {
      content: "";
      position: absolute;
      top: 0px;
      left: 0px;
      width: 2px;
      height: 0px;
      background: #0f9fdc;
      -moz-transition: all 0.5s ease-in-out 0s;
      -o-transition: all 0.5s ease-in-out 0s;
      -webkit-transition: all 0.5s ease-in-out 0s;
      transition: all 0.5s ease-in-out 0s; }
      @media (max-width: 991px) {
        .header .menu-link::before {
          display: none; } }
    .header .menu-link::after {
      content: "";
      position: absolute;
      bottom: -2px;
      left: 0px;
      width: 0px;
      height: 2px;
      background: #0f9fdc;
      -moz-transition: all 0.5s ease-in-out 0s;
      -o-transition: all 0.5s ease-in-out 0s;
      -webkit-transition: all 0.5s ease-in-out 0s;
      transition: all 0.5s ease-in-out 0s; }
      @media (max-width: 991px) {
        .header .menu-link::after {
          display: none; } }
  @media only screen and (min-width: 991px) {
    .header .menu-dropdown:hover > .submenu {
      display: block;
      opacity: 1;
      visibility: visible;
      transform: translateY(0); } }
  @media only screen and (max-width: 991px) {
    .header .menu {
      width: 100%;
      height: auto;
      padding: 1rem 12px; }
      .header .menu-item {
        display: block;
        margin: 0px !important;
        padding: 8px 12px !important; }
      .header .menu li.menu-item.menu-dropdown {
        padding-bottom: 0px !important; }
      .header .menu-link {
        justify-content: space-between; } }
  .header .menu .activelink::before,
  .header .menu .menu-item:hover::before {
    width: 50%; }
  .header .menu .activelink .menu-link,
  .header .menu .menu-item:hover .menu-link {
    color: #0f9fdc; }
    .header .menu .activelink .menu-link svg,
    .header .menu .menu-item:hover .menu-link svg {
      -webkit-transform: rotate(-180deg);
      -moz-transform: rotate(-180deg);
      -ms-transform: rotate(-180deg);
      -o-transform: rotate(-180deg);
      transform: rotate(-180deg);
      fill: #0f9fdc; }
    .header .menu .activelink .menu-link::before,
    .header .menu .menu-item:hover .menu-link::before {
      height: 100%; }
    .header .menu .activelink .menu-link::after,
    .header .menu .menu-item:hover .menu-link::after {
      width: 100%; }
  .header .submenu {
    position: absolute;
    top: 100%;
    left: 0px;
    min-width: 218px;
    height: auto;
    padding: 12px;
    opacity: 0;
    visibility: hidden;
    transform: translateY(1rem);
    border-radius: 0px 0px 12px 12px;
    background: #fff;
    -webkit-box-shadow: 4px 4px 60px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 4px 4px 60px rgba(0, 0, 0, 0.1);
    -o-box-shadow: 4px 4px 60px rgba(0, 0, 0, 0.1);
    -ms-box-shadow: 4px 4px 60px rgba(0, 0, 0, 0.1);
    box-shadow: 4px 4px 60px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease-in-out; }
    .header .submenu .submenu-item {
      display: block; }
      .header .submenu .submenu-item:last-child .submenu-link {
        border: 0px;
        padding: 0px;
        margin: 0px; }
    .header .submenu .submenu-link {
      position: relative;
      display: block;
      cursor: pointer;
      color: #000;
      text-transform: capitalize;
      transition: all 0.35s ease;
      padding-bottom: 8px;
      border-bottom: 1px solid #e5e5e5;
      margin-bottom: 8px; }
      @media (max-width: 991px) {
        .header .submenu .submenu-link {
          color: #8b8081;
          border-bottom: 1px solid #e5e5e51f; } }
      .header .submenu .submenu-link:hover {
        outline: none;
        color: #0f9fdc; }
    @media only screen and (max-width: 991px) {
      .header .submenu {
        position: relative;
        top: 0px;
        right: 0px;
        width: 100%;
        max-height: 0px;
        padding: 0px;
        border: none;
        outline: none;
        opacity: 1;
        overflow: hidden;
        visibility: visible;
        transform: translateY(0px);
        box-shadow: none;
        background: none;
        padding: 0px 12px;
        border-radius: 0px;
        margin-top: 12px; } }
  .header .burger {
    position: absolute;
    left: 126px;
    display: none;
    cursor: pointer;
    user-select: none;
    width: 1.75rem;
    height: 1rem;
    opacity: 0;
    visibility: hidden;
    background: transparent; }
    .header .burger-line {
      position: absolute;
      display: block;
      left: 0;
      width: 100%;
      height: 2px;
      opacity: 1;
      border: none;
      outline: none;
      background: #fff; }
      .header .burger-line:nth-child(1) {
        top: 0px; }
      .header .burger-line:nth-child(2) {
        top: 0.5rem;
        width: 80%; }
      .header .burger-line:nth-child(3) {
        top: 1rem;
        width: 60%; }
    @media only screen and (max-width: 991px) {
      .header .burger {
        display: block;
        opacity: 1;
        visibility: visible; } }
  .header .overlay {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 9;
    opacity: 0;
    visibility: hidden;
    transition: all 0.35s ease-in-out;
    background-color: rgba(0, 0, 0, 0.65); }
    @media only screen and (max-width: 991px) {
      .header .overlay.active {
        display: block;
        opacity: 1;
        visibility: visible; } }
  .header .icon {
    display: flex;
    align-items: center; }
    .header .icon .searchicon {
      cursor: pointer;
      margin-right: 12px; }
      .header .icon .searchicon svg path {
        fill: #fff; }
    .header .icon .bottom {
      width: 118px;
      height: 44px; }
      @media (max-width: 991px) {
        .header .icon .bottom {
          display: none; } }
    .header .icon .language {
      display: flex;
      align-items: center;
      padding: 4px 8px;
      border-radius: 8px;
      margin-right: 12px;
      color: #fff;
      overflow: hidden;
      background: #0f9fdc;
      -moz-transition: all 0.5s ease-in-out 0s;
      -o-transition: all 0.5s ease-in-out 0s;
      -webkit-transition: all 0.5s ease-in-out 0s;
      transition: all 0.5s ease-in-out 0s; }
      @media (max-width: 991px) {
        .header .icon .language {
          margin: 0px;
          padding: 0px 8px; } }
      .header .icon .language:hover {
        background: #002957; }
      .header .icon .language svg {
        width: 20px;
        margin-right: 4px; }
        .header .icon .language svg path,
        .header .icon .language svg rect {
          fill: #fff; }
  .header .showboxsearch {
    display: none;
    position: absolute;
    top: 116%;
    right: 12px;
    width: 344px;
    z-index: 1000; }
    @media (max-width: 550px) {
      .header .showboxsearch {
        width: calc(100% - 24px); } }
    .header .showboxsearch .formsearch {
      width: 100%;
      position: relative; }
    .header .showboxsearch .form-control {
      height: 50px;
      width: 100%;
      -webkit-border-radius: 10px;
      border-radius: 10px;
      background-clip: padding-box;
      border: 0px;
      box-shadow: none;
      outline: none;
      background: #D9D9D9;
      text-transform: none;
      padding: 0px;
      padding: 0px 70px 0px 12px;
      font-weight: 400; }
    .header .showboxsearch .bottom {
      position: absolute;
      top: 8px;
      right: 16px;
      width: 32px;
      height: 32px;
      padding: 0px;
      background: none;
      -webkit-border-radius: 0px;
      border-radius: 0px;
      background-clip: padding-box; }
      .header .showboxsearch .bottom::before {
        display: none; }
      .header .showboxsearch .bottom svg {
        max-width: 28px; }

.iconssocial {
  position: absolute;
  display: flex;
  right: -124px;
  bottom: 38%;
  width: 328px;
  z-index: 998;
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  transform: rotate(-90deg); }
  @media (max-width: 991px) {
    .iconssocial {
      display: none; } }
  .iconssocial p {
    white-space: nowrap;
    text-overflow: ellipsis;
    font-size: 20px;
    font-weight: 400;
    color: #fff;
    text-transform: capitalize;
    margin: 8px 12px 0px 0px;
    -moz-transition: all 0.5s ease-in-out 0s;
    -o-transition: all 0.5s ease-in-out 0s;
    -webkit-transition: all 0.5s ease-in-out 0s;
    transition: all 0.5s ease-in-out 0s; }
    @media (max-width: 1199px) {
      .iconssocial p {
        display: none; } }
  .iconssocial .social {
    margin-right: 20px; }

.slider {
  position: relative;
  width: 100%;
  overflow: hidden;
  background: #fff; }
  .slider .carousel-item {
    height: 100vh; }
    @media (max-width: 991px) {
      .slider .carousel-item {
        height: 80vh; } }
    .slider .carousel-item::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: #00000075; }
    .slider .carousel-item img {
      width: 100%;
      height: 100%;
      object-fit: cover; }
  .slider .carousel-control-next,
  .slider .carousel-control-prev {
    position: absolute;
    top: auto;
    bottom: 0px;
    width: 44px;
    height: 44px;
    bottom: 0px;
    background: #fff;
    opacity: 1;
    -moz-transition: all 0.5s ease-in-out 0s;
    -o-transition: all 0.5s ease-in-out 0s;
    -webkit-transition: all 0.5s ease-in-out 0s;
    transition: all 0.5s ease-in-out 0s; }
    @media (max-width: 991px) {
      .slider .carousel-control-next,
      .slider .carousel-control-prev {
        width: 34px;
        height: 34px; } }
    .slider .carousel-control-next svg,
    .slider .carousel-control-prev svg {
      width: 20px;
      height: 20px;
      fill: #000;
      -moz-transition: all 0.5s ease-in-out 0s;
      -o-transition: all 0.5s ease-in-out 0s;
      -webkit-transition: all 0.5s ease-in-out 0s;
      transition: all 0.5s ease-in-out 0s; }
      @media (max-width: 991px) {
        .slider .carousel-control-next svg,
        .slider .carousel-control-prev svg {
          width: 18px;
          height: 18px; } }
    .slider .carousel-control-next:hover,
    .slider .carousel-control-prev:hover {
      background: #0f9fdc; }
      .slider .carousel-control-next:hover svg,
      .slider .carousel-control-prev:hover svg {
        fill: #fff; }
  .slider .carousel-control-next {
    right: 24px; }
    @media (max-width: 991px) {
      .slider .carousel-control-next {
        right: 12px; } }
  .slider .carousel-control-prev {
    left: auto;
    right: 69px; }
    @media (max-width: 991px) {
      .slider .carousel-control-prev {
        right: 47px; } }
    .slider .carousel-control-prev svg {
      -webkit-transform: rotate(180deg);
      -moz-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
      -o-transform: rotate(180deg);
      transform: rotate(180deg); }
  .slider .cen-text {
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: flex-start;
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    z-index: 100;
    height: 100%; }
    @media (max-width: 991px) {
      .slider .cen-text {
        text-align: center; } }
    .slider .cen-text .title {
      color: #fff;
      font-size: 48px;
      margin-top: 24px; }
      @media (max-width: 991px) {
        .slider .cen-text .title {
          display: none;
          font-size: 32px; }
          .slider .cen-text .title br {
            display: none; } }
    .slider .cen-text .text {
      display: block;
      color: #fff;
      margin-top: 160px;
      text-transform: uppercase; }
      @media (max-width: 991px) {
        .slider .cen-text .text {
          display: none; } }
    .slider .cen-text .bottom {
      margin-top: 24px; }
      @media (max-width: 991px) {
        .slider .cen-text .bottom {
          display: none; } }
  .slider .carousel-indicators {
    margin: 0px;
    padding: 0px;
    bottom: 32px; }
    .slider .carousel-indicators li {
      background: #fff;
      width: 10px;
      height: 10px;
      -webkit-border-radius: 50%;
      border-radius: 50%;
      background-clip: padding-box;
      border: 1px solid #fff; }
      .slider .carousel-indicators li.active {
        background: none; }
  .slider iframe,
  .slider video {
    position: absolute;
    height: 100%;
    width: 100%;
    left: 50%;
    top: 50%;
    object-fit: cover;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%); }

body {
  direction: rtl;
  text-align: right; }

.che-box {
  padding-left: 0px !important;
  padding-right: 28px !important; }
  .che-box input[type="checkbox"],
  .che-box input[type="radio"] {
    right: auto !important;
    left: 9000px !important; }
  .che-box input[type="checkbox"] + .label-text:before,
  .che-box input[type="radio"] + .label-text:before {
    left: auto !important;
    right: 0px !important; }

.title {
  font-size: 28px;
  font-weight: 500; }
  @media (max-width: 991px) {
    .title {
      font-size: 26px; } }

p,
.bottom {
  font-size: 14px !important; }

.form-control {
  font-size: 12px !important; }

.bottom {
  width: 134px; }

@media (max-width: 991px) {
  .header .logo {
    margin-right: 0px;
    margin-left: 40px; } }
.header .navbar .cancel {
  right: auto;
  left: 12px; }
@media screen and (max-width: 991px) {
  .header .navbar {
    left: auto;
    right: -100%; }
    .header .navbar.active {
      left: auto;
      right: 0rem; } }
.header .menu-item::before {
  left: auto;
  right: 0px; }
.header .menu-link {
  padding-left: 0px;
  padding-right: 8px;
  font-size: 14px; }
  .header .menu-link::before {
    left: auto;
    right: 0px; }
  .header .menu-link::after {
    left: auto;
    right: 0px; }
.header .submenu {
  left: auto;
  right: 0px; }
  .header .submenu .submenu-link {
    font-size: 14px; }
  @media only screen and (max-width: 991px) {
    .header .submenu {
      right: auto;
      left: 0px; } }
.header .burger {
  left: auto;
  right: 126px; }
  .header .burger-line {
    left: auto;
    right: 0; }
.header .icon .searchicon {
  margin-right: 0px;
  margin-left: 12px; }
.header .icon .language {
  margin-right: 0px;
  margin-left: 12px; }
  @media (max-width: 550px) {
    .header .icon .language {
      margin-left: 0px; } }
  .header .icon .language svg {
    margin-right: 0px;
    margin-left: 4px; }
    @media (max-width: 991px) {
      .header .icon .language svg {
        margin: 0px; } }
.header .showboxsearch {
  right: auto;
  left: 12px; }
  .header .showboxsearch .form-control {
    padding: 0px;
    padding: 0px 12px 0px 70px; }
  .header .showboxsearch .bottom {
    right: auto;
    left: 16px; }

.iconssocial {
  right: auto;
  left: -134px; }
  .iconssocial p {
    font-size: 16px;
    font-weight: 400; }

.about .item .tp-about {
  padding-right: 0px;
  padding-left: 24px; }
  .about .item .tp-about .tp-about-2 {
    left: auto;
    right: 10%; }
  .about .item .tp-about .tp-about-3 {
    right: auto;
    left: 0px; }
  .about .item .tp-about .tp-about-4 {
    left: auto;
    right: 0px; }
  .about .item .tp-about .tp-about-2-thumb-text {
    left: auto;
    right: 200px; }
    .about .item .tp-about .tp-about-2-thumb-text .num span {
      margin-left: 0px;
      margin-right: 4px; }

.minservices .slider-services {
  direction: ltr; }
.minservices .latesitem {
  direction: rtl; }

.numbers .item .flex span {
  margin: -28px 4px 0px 0px; }

.provide .item:first-child {
  padding-right: 0px;
  padding-left: 24px;
  background: #002957 url(../images/provide.png) no-repeat left bottom; }
  @media (max-width: 500px) {
    .provide .item:first-child {
      padding: 12px;
      padding-bottom: 24px; } }
  .provide .item:first-child .photo {
    margin: 20px 0px 20px 20px; }
    @media (max-width: 500px) {
      .provide .item:first-child .photo {
        margin: 0px;
        margin-bottom: 16px; } }
.provide .item:last-child .img {
  left: auto;
  right: 0px; }

.footer .item .text {
  padding-right: 0px;
  padding-left: 48px; }
  @media (max-width: 991px) {
    .footer .item .text {
      padding: 0px; } }
.footer .item .social {
  direction: ltr;
  justify-content: flex-end; }
  @media (max-width: 991px) {
    .footer .item .social {
      justify-content: center; } }
  .footer .item .social a {
    margin: 0px;
    margin-left: 8px; }
  @media (max-width: 991px) {
    .footer .item .social a {
      margin: 0px 4px; } }
.footer .item .title {
  font-size: 18px; }
  @media (max-width: 991px) {
    .footer .item .title {
      font-size: 16px; } }
.footer .item .navmenu a {
  font-size: 14px; }
.footer .item .newsletter .form-control {
  padding-left: 160px;
  padding-right: 20px; }
.footer .item .newsletter .bottom {
  right: auto;
  left: 0px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  border-top-left-radius: 60px;
  border-bottom-left-radius: 60px; }
  .footer .item .newsletter .bottom::before {
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    border-top-left-radius: 60px;
    border-bottom-left-radius: 60px; }
.footer .item .media svg {
  margin-top: 7px; }
.footer .item .media .contant {
  margin-left: 0px;
  margin-right: 12px; }
  .footer .item .media .contant p,
  .footer .item .media .contant a {
    font-size: 14px; }
  .footer .item .media .contant a {
    direction: ltr; }
.footer .copyright p {
  font-size: 14px; }
.footer .scrollToTop {
  left: auto;
  right: 16px;
  font-size: 12px !important; }

.news .item .inner .textcontent {
  margin: -67px 5% 0px 0px; }

.contactus a.info-text {
  direction: ltr !important; }

.alert .text-mass {
  margin: 0px !important;
  margin-right: 12px !important; }

.faqs .collapsible-link::before {
  right: auto;
  left: 20px; }

.newsinner .itemnews .min-search .form-control {
  padding: 12px 12px 12px 56px; }
.newsinner .itemnews .min-search .bot-search {
  right: auto;
  left: 12px; }
.newsinner .itemnews .archives .list a svg {
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);
  margin-right: 0px;
  margin-left: 8px; }
.newsinner .itemnews .tags .list a {
  margin: 3px 0px 0px 3px; }
.newsinner .itemnews .most .other .link {
  margin-left: 0px;
  margin-right: 16px; }
.newsinner .date svg {
  margin-right: 0px;
  margin-left: 4px; }
.newsinner .shareicons .social {
  margin-left: 0px;
  margin-right: 12px; }
  .newsinner .shareicons .social a {
    margin-left: 0px;
    margin-right: 4px; }

select.form-control {
  background-position: 12px 23px !important; }

.nav-tabs li:first-child a {
  border-top-left-radius: 0px !important;
  border-bottom-left-radius: 0px !important;
  border-top-right-radius: 8px !important;
  border-bottom-right-radius: 8px !important; }
.nav-tabs li:last-child a {
  border-top-right-radius: 0px !important;
  border-bottom-right-radius: 0px !important;
  border-top-left-radius: 8px !important;
  border-bottom-left-radius: 8px !important; }

.facilities .item .tp-about {
  padding-right: 0px;
  padding-left: 24px; }
  .facilities .item .tp-about .tp-about-3 {
    right: auto;
    left: 0px; }
  .facilities .item .tp-about .tp-about-4 {
    left: auto;
    right: 0px; }
.facilities .list li {
  padding-left: 0px;
  padding-right: 32px; }
  .facilities .list li svg {
    left: auto;
    right: 0px; }

.more {
  font-size: 14px; }
  .more:after {
    left: auto;
    right: 0px; }

.slider .carousel-control-next {
  right: auto;
  left: 24px;
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg); }
  @media (max-width: 991px) {
    .slider .carousel-control-next {
      right: auto;
      left: 12px; } }
.slider .carousel-control-prev {
  right: auto;
  left: 69px;
  -webkit-transform: rotate(-180deg);
  -moz-transform: rotate(-180deg);
  -ms-transform: rotate(-180deg);
  -o-transform: rotate(-180deg);
  transform: rotate(-180deg); }
  @media (max-width: 991px) {
    .slider .carousel-control-prev {
      right: auto;
      left: 47px; } }

.pagination li:last-child svg {
  transform: rotate(90deg); }
.pagination li:first-child svg {
  transform: rotate(-90deg); }

.map-back .maplink li {
  margin-right: 0px;
  margin-left: 8px; }
  .map-back .maplink li a {
    padding-right: 0px;
    padding-left: 16px; }
    .map-back .maplink li a:before {
      right: auto;
      left: 2px; }

.contactus .item .contact-block .block-info .title {
  font-size: 22px; }

/*# sourceMappingURL=home-rtl.css.map */
