link(rel='stylesheet',href='css/bootstrap.min.css')
link(rel='stylesheet',href='css/home.css')
//link(rel='stylesheet',href='css/home-rtl.css')
link(href="https://fonts.googleapis.com/css2?family=Readex+Pro:wght@160..700&amp;display=swap" rel="stylesheet")
link(rel='icon',href='images/favicon.png',type='image/png')